.scroll-bottom {
  @media screen and (max-width: 760px) {
    display: none;
  }

  a {
    position: fixed;
    transform: translateY(-50%);
    top: 50%;
    font-size: clamp(3rem, 8vw, 5.8rem);
    color: rgb(0, 255, 0);
    transition: 0.25s;
    user-select: none;
    padding: 0 14px;
    z-index: 45;
    animation: jumpArrow 3s ease-in-out infinite;

    @media screen and (max-width: 700px) {
      top: auto;
      bottom: 1.2rem;
      font-size: 3.5rem;
    }

    &:hover {
      color: rgb(251, 255, 0);
      transform: translateY(-50%) scale(1.08);
    }

    @keyframes jumpArrow {
      0% {
        color: rgb(0, 255, 0);
      }
      50% {
        color: rgb(255, 0, 55);
      }
      100% {
        color: rgb(0, 255, 0);
      }
    }
  }

  .left {
    left: 0.4rem;
  }

  .right {
    right: 0.4rem;
  }
}
