.dynamic-text {
  position: relative;
  display: flex;
  font-size: 50px;

  @media screen and (max-width: 768px) {
    font-size: 18px;
  }

  #text-target {
    display: flex;
    width: 300px;
    text-align: left;
    animation: color 0.75s alternate infinite;
    perspective: 200px;
    transform: translateX(26px);
  }
}

/* @keyframes color {
  0% {
    color: rgb(255, 255, 255);
  }
  33% {
    color: #059b00;
  }
  66% {
    color: rgb(255, 255, 255);
  }
  100% {
    color: #059b00;
  }
} */

.word {
  animation: wordEntry 1s ease-out;
}

@keyframes wordEntry {
  0% {
    transform: translateY(-200px);
    opacity: 0;
    color: #ffffff;
  }
  30% {
    transform: translateY(0);
    opacity: 1;
    color: #ff0000;
  }
  50% {
    transform: translateY(-50px);
    opacity: 1;
    color: #059b00;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
    color: #059b00;
  }
}
