.dynamic-text {
  position: relative;
  display: flex;

  #text-target {
    display: flex;
    width: 300px;
    text-align: left;
    animation: color 30s alternate infinite;
    perspective: 200px;
    transform: translateX(26px);
    z-index: 0;
  }
  .word {
    position: absolute;
  }
  @keyframes color {
    0% {
      color: blue;
    }
    33% {
      color: #ec006e;
    }
    66% {
      color: #ecdc00;
    }
    100% {
      color: blue;
    }
  }
  .letter {
    transform: translateY(200px);
  }
  @keyframes anim {
    25% {
      transform: translateZ(0px);
      opacity: 1;
    }
    30% {
      opacity: 0;
      transform: translateY(200px);
    }
  }
}
