.logo {
  margin-top: 20px;
  position: absolute;
  font-family: $font-2;
  font-size: 1.5rem;
  user-select: none;


  &:after {
    content: "";
    height: 50px;
    width: 50px;
    border: 1px $color-2 solid;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: -19px;
    z-index: -1;
  }
}