.navigation {
  position: absolute;
  top: 1rem;
  left: 1.4rem;
  padding: 5px;
  font-size: 1.4rem;
  line-height: 28px;
  color: rgb(255, 109, 122);
  background: rgb(0, 0, 0);
  border-radius: 10px;

  @media screen and (max-width: 430px){
    left:30px;
    width: 100%;
    font-size: 1rem;
    top: 10px;
  }
  
  &:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background: rgb(51, 0, 255);
    filter: blur(5px);
    z-index: -1;
    animation: navAnim 2s infinite alternate;

    @keyframes navAnim {
      50% {
        transform: scale(1.1);
        background: rgb(255, 255, 255);
      }
      100% {
        transform: scale(1);
        background: rgb(48, 195, 80);
      }
    }

  }
  .nav-active {
    color: white;
  }
  ul:hover li:not(:hover) {
    opacity: .5;
  }
  ul:hover li:hover {
    color: rgb(195, 184, 252);
  }

  .nav-portfolio {
    cursor: pointer;
    display: flex;
    // padding-right: 6rem;
    transition: .8s;
    
    &:hover .nav-projects,
    .nav-projects:hover {

      visibility: visible;
      opacity: 1;

      li {
        transform: rotatey(0deg)
      }
    }

    .nav-projects {
      position: absolute;
      visibility: hidden;
      left: 23px;
      opacity: 0;
      padding: 0 30px;
      width: 150px;
      transform: translateX(70px);
      transition: .3s ;
      perspective: 500px;
      background: rgb(0, 0, 0);
      border: 1px rgb(2, 255, 65) solid;
      border-radius: 10px;
     
      @media screen and (max-width: 430px){
        height: 110px;
        width: 100%;
        left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      
      li {
        transform: rotatey(30deg) scaleX(1.2);
        transform-origin: center;
        transition: .3s;
      }
    }
  }
}