.navigation {
  position: absolute;
  width: 130px;
  height: 130px;
  top: 1rem;
  left: 1rem;
  padding: 20px;
  font-size: 18px;
  line-height: 22px;
  color: rgb(255, 109, 122);
  background: rgb(0, 0, 0);
  border-radius: 50%;
  // border: 2px solid white;

  @media screen and (max-width: 768px) {
    font-size: 20px;
    top: 10px;
  }
  @media screen and (max-width: 680px) {
    // font-size: 22px;
    // top: 10px;
    // line-height: 20px;
  }

  &::before {
    content: "";
    position: absolute;
    height: calc(100% + 5px);
    width: calc(100% + 5px);
    top: -3px;
    left: -3px;
    // border: 2px solid white;
    border-radius: 50%;
    background: linear-gradient(#fdcd3b 1%, #000000 1%);
    // filter: blur(5px);
    z-index: -3;

    animation: circlA 2s linear infinite;

    @keyframes circlA {
      0% {
        rotate: 0;
        // background-position: 0 0;
      }
      50% {
        rotate: 180deg;
        // background-position: 600% 0;
        // background-position-x:  0 3000%;
      }

      100% {
        rotate: 360deg;
        // background-position: 0 0;
      }
    }
  }
  .nav-active {
    color: white;
  }
  ul:hover li:not(:hover) {
    opacity: 0.5;
  }
  ul:hover li:hover {
    color: rgb(255, 255, 255);
  }

  .nav-portfolio {
    cursor: pointer;
    display: flex;
    // padding-right: 6rem;
    transition: 1s;

    &:hover .nav-projects,
    .nav-projects:hover {
      visibility: visible;
      opacity: 1;

      li {
        transform: rotatey(0deg);
      }
    }

    .nav-projects {
      position: absolute;
      visibility: hidden;
      left: 23px;
      opacity: 0;
      padding: 0 30px;
      width: 350px;
      transform: translateX(0px);
      transition: 0.3s;
      perspective: 500px;
      background: rgb(0, 0, 0);
      border: 1px rgb(255, 234, 2) solid;
      border-radius: 10px;
      z-index: 30;
      list-style-type: circle;
      @media screen and (max-width: 430px) {
        // padding: 0 5px;
        // height: 110px;
        // width: 100%;
        left: 0px;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
      }

      li {
        transform: rotatey(30deg) scaleX(1.2);
        transform-origin: center;
        transition: 0.9s;
      }
    }
  }
}
.linkGit {
  width: 55px;
  height: 55px;
}
