.social-network {
  position: absolute;
  right: clamp(7rem, 13vw, 12rem);
  top: 1rem;
  z-index: 20;

  @media screen and (max-width: 650px) {
    width: 30%;
  }

  ul {
    display: flex;
    gap: 0.5rem;
    width: 100%;
    min-width: 100px;
    justify-content: space-around;

    @media screen and (max-width: 450px) {
      min-width: 70%;
    }

    a {
      padding: 0.85rem;
      transition: 1.1s ease-out;
    }

    img {
      width: 30px;
      height: 30px;
    }
  }
}
